---
import ThemeIcon from "@/components/ThemeIcon.astro";
import GithubIcon from "@/assets/icons/icons8-github.svg"
import LinkedinIcon from "@/assets/icons/icons8-linkedin.svg"
import GmailIcon from "@/assets/icons/icons8-gmail.svg"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Cristian Ruiz &mdash; Backend engineer</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
	</head>
	<body class="mx-auto md:p-8 max-w-4xl min-h-screen grid grid-rows-[auto_1fr_auto]">
		<header class="my-10 flex justify-end gap-4 pr-4">
			<a href="https://github.com/crruizb" target="_blank">
				<GithubIcon width={32} height={32} aria-label="Github link to crruizb github" />
			</a>
			<a href="https://www.linkedin.com/in/cristian-ruiz-bonilla/" target="_blank">
				<LinkedinIcon width={32} height={32} aria-label="Linkedin link to Cristian Ruiz linkedin"/>
			</a>
			<a href="mailto:me@cristianruiz.dev" target="_blank">
				<GmailIcon width={32} height={32} aria-label="Mailto link to me@cristianruiz.dev" />
			</a>
			<ThemeIcon  />
		</header>
		<slot />
		<hr class="h-px bg-gradient-to-r from-primary to-accent border-0 mt-24 mx-8">
		<footer class="my-8 mx-auto flex justify-center">
			<a href="cristianruiz.dev" class="flex gap-2 ">cristianruiz.dev 🚀 {new Date().getFullYear()}</a>
		</footer>
	</body>
</html>
