---
import ThemeIcon from "@/components/ThemeIcon.astro";
import GithubIcon from "@/assets/icons/icons8-github.svg"
import LinkedinIcon from "@/assets/icons/icons8-linkedin.svg"
import GmailIcon from "@/assets/icons/icons8-gmail.svg"
import AstroLogo from "@/assets/logos/astro-icon-seeklogo.svg"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>Cristian Ruiz &mdash; Backend engineer</title>

		<link
			rel="preload"
			href="/fonts/RobotoMono-VariableFont_wght.ttf"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>

		<meta
		name="description"
		content="Portfolio of Cristian Ruiz to show projects and skills"
	  />
  
	  <meta property="og:url" content="https://cristianruiz.dev" />
	  <meta property="og:type" content="website" />
	  <meta property="og:title" content="Cristian Ruiz - Backend engineer" />
	  <meta
		property="og:description"
		content="Portfolio of Cristian Ruiz to show projects and skills"
	  />
	  <meta property="og:image" content={AstroLogo.src} />
	  <meta property="og:locale" content="en_EN" />
	  <meta property="og:site_name" content="Cristian Ruiz - Backend engineer" />
  
	  <meta name="twitter:card" content="summary_large_image" />
	  <meta name="twitter:title" content="Cristian Ruiz - Backend engineer" />
	  <meta
		name="twitter:description"
		content="Portfolio of Cristian Ruiz to show projects and skills"
	  />
	</head>
	<body class="mx-auto md:p-8 max-w-4xl min-h-screen grid grid-rows-[auto_1fr_auto]">
		<header class="my-10 flex justify-end gap-4 pr-4">
			<a href="https://github.com/crruizb" target="_blank">
				<GithubIcon width={32} height={32} aria-label="Github link to crruizb github" />
			</a>
			<a href="https://www.linkedin.com/in/cristian-ruiz-bonilla/" target="_blank">
				<LinkedinIcon width={32} height={32} aria-label="Linkedin link to Cristian Ruiz linkedin"/>
			</a>
			<a href="mailto:me@cristianruiz.dev" target="_blank">
				<GmailIcon width={32} height={32} aria-label="Mailto link to me@cristianruiz.dev" />
			</a>
			<ThemeIcon  />
		</header>
		<slot />
		<hr class="h-px bg-gradient-to-r from-primary to-accent border-0 mt-24 mx-8">
		<footer class="my-8 mx-auto flex justify-center">
			<a href="https://cristianruiz.dev" class="flex gap-2 ">cristianruiz.dev 🚀 {new Date().getFullYear()}</a>
		</footer>
	</body>
</html>
